@page "/"

@using System.Collections.Immutable;

@code {
    private ImmutableList<Post> Posts { get; } = Blog.Posts.Sort();
}

<ol id="index">
    @foreach(Post post in Posts) {
        <li>
            <NavLink href=@($"/post/{post.Path}")>
                @post.Title
            </NavLink>
            
            <time>@post.Date.ToString("dd MMMM yyyy")</time>
        </li>
    }
</ol>
