@page "/post/{identifier}"

@using Markdig
@using Markdig.Renderers
@using Markdig.Syntax

@using System.IO

@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@inject HttpClient Http

@code {
  [Parameter]
  public string Identifier { get; set; }

  private Post post { get; set; }
  
  private string _html { get; set; }

  protected override async Task OnInitializedAsync()
  {
    // Find Post object
    post = (
      from entry in Blog.Posts
      where entry.Path == Identifier
      select entry
    ).First();


    // Get MarkDown and convert to HTML
    var markdown = await Http.GetStringAsync($"posts/{Identifier}/text.md");

    MarkdownPipeline pipeline = new MarkdownPipelineBuilder()
      .UseDiagrams()
      .Build();
    MarkdownDocument document = Markdown.Parse(markdown, pipeline);

    StringWriter writer = new();
    HtmlRenderer renderer = new(writer);
    renderer.BaseUrl = new Uri(new Uri(NavigationManager.BaseUri), $"posts/{Identifier}/");

    pipeline.Setup(renderer);

    renderer.Render(document);

    _html = writer.ToString();
  }

  protected override void OnAfterRender(bool _)
  {
    JS.InvokeAsync<string>("hljs.highlightAll");
    JS.InvokeAsync<string>("mermaidify");
    JS.InvokeAsync<string>("feather.replace");
  }
}

<div id="post">
  <h2>@post.Title</h2>

  @((MarkupString) _html)
</div>

<NavLink id="back" href="/">
    <i data-feather="arrow-left-circle"></i>
</NavLink>